.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:300%;
  background-color:#000000;
  opacity: 0.6;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color #FFF
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 110%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
  color: #FFF
}

svg {
  display: block;
  margin: 0 auto;
}

.toggle {
  cursor: pointer;
  margin-top: 50px;
  background: #ee5626;
  padding: 1em;
  border-radius: 100%;
  display: table;
  width: 200px;
  -webkit-transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition: background 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* Temp Scene Stuff */
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.toggle.open {
  background: #4ae4bf;
}

.tick {
  stroke-dasharray: 44;
  stroke-dashoffset: 44;
}

.open .retract {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  -webkit-animation: retract 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1;
          animation: retract 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1;
}

.open .tick {
  -webkit-animation: dash 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1;
          animation: dash 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 44;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 44;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes retract {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 20;
  }
}
@keyframes retract {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 20;
  }
}
