<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img id="hello" src="assets/images/yeoman.png"  alt="I'm Yeoman">
  </div>
</header> -->
<challenge-modal show='clickedBegin' height="420px" width="640px">
  <div ng-show="step === 'step1'">
    <div class="row1-div">
      Step 1.<br> Donate any Amount
    </div>
    <div class="row2-div">
      <i class="fa-li fa fa-spinner fa-spin"></i>
      <p>You will be redirected to Beyond Blue in</p>
      <p>{{counter}}</p> 
    </div>
  </div>
  <div ng-show="step === 'step2'">
    <div class="row1-div">
      Step 2.<br> Confirm Your Donation
    </div>
    <div class="row2-div">
      <p ng-show="notConfirmed">After this step you will be able to upload your image</p>
      <button ng-show="notConfirmed" class="btn btn-success"ng-click="confirmDonation()">Confirm Your Donation</button> 
      <div class="toggle" ng-show="!notConfirmed" ng-class="{'open':toggledClass}">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 56.7 57" enable-background="new 0 0 56.7 57" xml:space="preserve">
        <path class="retract" fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
          M36,6.3c5.7,2.1,10.2,6.2,12.9,11.1"/>
        <path fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
          M48.9,17.4c3.1,5.8,3.9,12.9,1.4,19.7c-4.6,12.4-18.4,18.8-30.8,14.3S0.7,33,5.2,20.5S23.6,1.7,36,6.3"/>
        <polyline class="tick" fill="none" stroke="#f1f1f1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
          20.3,25.4 28.6,33.9 46.7,8.3 "/>
        </svg>
      </div>
    </div>
  </div>

  <div class="button-row-div">
    
  </div>
</challenge-modal>
<img src="assets/images/rainbow-bar-full.png" class="img-responsive" alt="">
<img src="assets/images/logo2.png" class="pull-left img-responsive" alt="">
<div class="title-div pull-right">It's OK to be BLUE</div>
<img src="assets/images/rainbow-bar-full.png" class="img-responsive" alt="">
<div class="bottom-border">
  
</div>

<div class="first-row-full" ng-show="!completedDonation">
  <img src="assets/images/beyondblue.png" class="img-responsive example-front" alt="">
  <p>Dontate &amp; go blue to raise awareness for Beyond Blue</p>
  <a ng-click="clickedSupport()" style="text-decoration:none;"><div class="main-video-button">SUPPORT NOW</div></a>
</div>

<div class="first-row-upload" ng-show="completedDonation">
  <p>Step 3.</p>
  <p>Upload Your image, download &amp; share to facebook!</p>
  <span class="btn btn-default btn-file" ng-show="!clickedUploaded">
    Click to Upload<input type="file" id="imageLoader" name="imageLoader" ng-click="clickedUpload()"/>
  </span>
  <button ng-show="clickedUploaded" class="btn btn-success button-front-2"ng-click="makeBlue()">Now Click Here to Make Blue!</button>
  <canvas id="imageCanvas"></canvas>
  <!-- <input class="main-video-button" type="file" id="imageLoader" name="imageLoader"/> -->
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div> -->
<div class="bottom-row row">
  <div class="col-xs-4">
    <i class="fa fa-heart-o"></i>
    <p>By donating you help us reduce the impact of anxiety and depression on the Australian community</p> 
  </div>
  <div class="col-xs-4">
    <i class="fa fa-cloud-upload"></i>
    <p>You will then be able to upload your profile picture to add the beyond blue logo</p> 
  </div>
  <div class="col-xs-4">
    <i class="fa fa-facebook"></i>
    <p>Upload your new profile picture to show your support and encourage others</p> 
  </div>
</div>

<footer class="footer footer-front">
  <div class="container">
      <p>Copyright © 2015 |
        <a href="https://www.beyondblue.org.au/get-involved/make-a-donation/step-1-make-a-donation">Link to Beyond Blue</a></p>
  </div>
</footer>
<img src="assets/images/rainbow-bar-full.png" class="img-responsive" alt="">