.thing-form
    margin 20px 0

#banner
    border-bottom none
    margin-top -20px

#banner h1
    font-size 60px
    letter-spacing -1px
    line-height 1

.hero-unit
    background #4393B9
    color #F5F5F5
    padding 30px 15px
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.footer
    border-top 1px solid #E5E5E5
    margin-top 70px
    padding 30px 0
    text-align center

.navbar-text
    margin-left 15px
    
.footer-front
    background-color #025C76
    color #FFF
    font-weight 200
    letter-spacing 1px
    margin-top 0px
    a 
        color #FFF

.title-div
    font-size 60px
    color #025C76
    letter-spacing 2px
    font-weight 800
    margin-top 40px
    margin-right 50px
.bottom-row
    // height 200px
    background-color #E5EBFA
    text-align center
    color #013D4E
    padding 50px
    i 
        font-size 90px
    p 
        margin-top 20px
        margin-right 50px
        margin-left 50px
        font-size 16px
.bottom-border
    height 60px
    background-color #025C76
    color #FFF 
.first-row-full
    text-align center
    padding 35px 
    font-size 20px
    letter-spacing 2px
    color #025C76
    p 
        margin-top 40px
        margin-bottom 10px

.main-video-button {
  margin: 0 auto;
  position: relative;
  border: 1px solid #025C76;
  width: 280px;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  font-size: 21px;
  color: #025C76;
  -webkit-transition: all 0.1s ease-out; 
  -moz-transition: all 0.1s ease-out; 
  -ms-transition: all 0.1s ease-out; 
  -o-transition: all 0.1s ease-out; 
  transition: all 0.1s ease-out;
}
.main-video-button:hover {
  background: rgba(2, 92, 118, 0.25)
  cursor: pointer;
}    

a .button-front
    text-decoration none
.example-front
    display: block;
    margin-left: auto;
    margin-right: auto
.row1-div
    background-color #025C76
    height 150px