<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img id="hello" src="assets/images/yeoman.png"  alt="I'm Yeoman">
  </div>
</header> -->
<challenge-modal show='clickedBegin' height="420px" width="640px">
  <div class="row1-div">
    
  </div>
  <div class="row2-div">
    
  </div>
  <div class="button-row-div">
    
  </div>
</challenge-modal>
<img src="assets/images/rainbow-bar-full.png" class="img-responsive" alt="">
<img src="assets/images/logo2.png" class="pull-left img-responsive" alt="">
<div class="title-div pull-right">It's OK to be BLUE</div>
<img src="assets/images/rainbow-bar-full.png" class="img-responsive" alt="">
<div class="bottom-border">
  
</div>
<div class="first-row-full">
  <img src="assets/images/beyondblue.png" class="img-responsive example-front" alt="">
  <p>Dontate &amp; go blue to raise awareness for Beyond Blue</p>
  <a ng-click="clickedBegin=true" style="text-decoration:none;"><div class="main-video-button">SUPPORT NOW</div></a>
</div>


<a href="https://www.beyondblue.org.au/get-involved/make-a-donation/step-1-make-a-donation" target="_blank"><button class="btn btn-success"></button></a>

<label>Test Your Image File HERE:</label><br/>
<input type="file" id="imageLoader" name="imageLoader"/>
<button class="btn btn-success"ng-click="makeBlue()">Click here after upload</button>

<canvas id="imageCanvas"></canvas>


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div> -->
<div class="bottom-row row">
  <div class="col-xs-4">
    <i class="fa fa-heart-o"></i>
    <p>By donating you help us reduce the impact of anxiety and depression on the Australian community</p> 
  </div>
  <div class="col-xs-4">
    <i class="fa fa-cloud-upload"></i>
    <p>You will then be able to upload your profile picture to add the beyond blue logo</p> 
  </div>
  <div class="col-xs-4">
    <i class="fa fa-facebook"></i>
    <p>Upload your new profile picture to show your support and encourage others</p> 
  </div>
</div>

<footer class="footer footer-front">
  <div class="container">
      <p>Copyright © 2015 |
        <a href="https://www.beyondblue.org.au/get-involved/make-a-donation/step-1-make-a-donation">Link to Beyond Blue</a></p>
  </div>
</footer>
<img src="assets/images/rainbow-bar-full.png" class="img-responsive" alt="">